:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
}

:host:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3) 1px,
    transparent 1px,
    transparent 2px
  );
  overflow: hidden;
  background-origin: content-box;
}

h1 {
    color: greenyellow;
}