.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

alpha-child,
beta-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}