.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

left-child,
middle-child,
right-child {
  flex-shrink: 0;
  top: 0;
  left: 0;
  width: 100%;
}