:host {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #f06, transparent),
                    linear-gradient(135deg, #f06, transparent),
                    linear-gradient(45deg, #06f, transparent),
                    linear-gradient(135deg, #06f, transparent);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px, 10px 10px, 0 0;
}
